<%= render "shared/index" %>

<div class="user-edit-wrapper">
    <h1 class="edit-form-heading">編集する</h1>
    <% if @user.errors.any? %>
      <div class="alert">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <div class="user-edit-error">
            <li><%= message %></li>
            </div>
          <% end %>
        </ul>
      </div>
    <% end %>
      <div class="edit-form">
        <div class="edit-form-body">
          <%= form_with url: "/users/#{@user.id}/update/", local: true do |form|%>
              <P class="user-states">ユーザー名</p>
              <%= form.text_field :nickname, class: "form-control", value:"#{@user.nickname}" %>
              <P class="user-states">メールアドレス</p>
              <%= form.email_field :email, class: "form-control", value:"#{@user.email}" %>
              <p class="user-states">パスワード</p>
              <%= form.password_field :password, class: "form-control", value:"#{@user.password}" %>
              <%= form.submit "変更する", class: "p-btn" %>

          <% end %>
        </div>
      </div>
</div>
