<%= render "shared/index" %>

<div class="user-edit-wrapper">
    <h1 class="edit-form-heading">編集する</h1>
      <div class="edit-form">
        <div class="edit-form-body">
              <% @user.errors.full_messages.each do |message| %>
                <div class="form-error">
                  <%= message %>
                </div>
              <% end %>
          <%= form_with url: "/users/#{@user.id}/update/", local: true do |form|%>
              <P class="user-states">ユーザー名</p>
              <%= form.text_field :nickname, class: "form-control", value:"#{@user.nickname}" %>
              <P class="user-states">メールアドレス</p>
              <%= form.email_field :email, class: "form-control", value:"#{@user.email}" %>
              <p class="user-states">パスワード</p>
              <%= form.password_field :password, class: "form-control", value:"#{@user.password}" %>
              <%= form.submit "変更する", class: "p-btn" %>

          <% end %>
        </div>
      </div>
</div>
