<%= render "shared/index" %>

<div class="main">
  <div class="login-modal-wrapper" id="login-modal">
    <div class="modal">
      <div class="close-modal">
        <i class="fa fa-2x fa-times">X</i>
      </div>
      <div id="login-form">
        <h2>ログイン</h2>
        <% if @error_message %>
          <div class="user-form-error">
            <%= @error_message %>
          </div>
        <% end %>
          <%= form_tag("/login") do %>
          <input name="email" class="form-control" type="text" placeholder="メールアドレス" value="<%= @email %>" >
          <input name="password" class="form-control" type="password" placeholder="パスワード" value="<%= @password %>" >
          <input type="submit" value="ログイン" id="submit-btn">
          <% end %>
      </div>
    </div>
  </div>
</div>
