<%= render "shared/index" %>

<div class="main">
  <div class="login-modal-wrapper" id="login-modal">
    <div class="login-modal">
      <div class="close-modal">
        <i class="fa fa-2x fa-times">X</i>
      </div>
      <div id="login-form">
        <h2>ログイン</h2>
        <% if @error_message %>
          <div class="user-form-error">
            <%= @error_message %>
          </div>
        <% end %>
          <%= form_with url: "/login", local: true do |form| %>
            <%= form.email_field :email, class: "form-control", placeholder: "メールアドレス", value:"#{@user.email}" %>
            <%= form.password_field :password, class: "form-control", placeholder: "パスワード", value:"#{@user.password}" %>
            <%= form.submit "ログイン", id: "submit-btn" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
