<%= render "shared/index" %>

<div class="main">
  <div class="signup-modal-wrapper" id="signup-modal">
    <div class="modal">
      <div class="close-modal">
        <i class="fa fa-2x fa-times">X</i>
      </div>
      <div id="signup-form">
        <h2>新規登録</h2>
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_with url: "/users/create", local: true do |form| %>
          <%= form.text_field :name, class: "form-control", placeholder: "登録名", value:"#{@user.name}" %>
          <%= form.email_field :email, class: "form-control", placeholder: "メールアドレス", value:"#{@user.email}" %>
          <%= form.password_field :password, class: "form-control", placeholder: "パスワード", value:"#{@user.password}" %>
          <%= form.submit "新規登録", id: "submit-btn" %>
        <% end %>
      </div>
    </div>
  </div>

</div>

