<%= render "shared/index" %>

<div class="user-show-wrapper">
  <div class="user-show-container">
    <div class="user">
      <h2><%= @user.nickname %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to "編集", "/users/#{@user.id}/edit" %>
      <% end %>
    </div>
  </div>
  <% @user.posts.each do |post|%>
    <div class="post-containers">
      <div class="post-container">
        <p>
          <%= link_to post.user.nickname, "/users/#{post.user.id}", class: "post-user-name" %>
        </p>
        <p>
          <%= link_to post.content, "/posts/#{post.id}", class: "text" %> 
        </p>
      </div>
    </div> 
  <% end %>
</div>