<%= render "shared/index" %>

<div class="new-wrapper">
    <h1 class="form-heading">編集する</h1>
    <%= form_with url: "/posts/#{@post.id}/update/", local: true do |form|%>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <%= form.text_area :content, class: "content-area", value: "#{@post.content}" %>
          <%= form.submit "SEND", value: "投稿", class: "p-btn" %>
        </div>
      </div>
    <% end %>
</div>
