<div class="side">
    <div class="users-heading">ユーザー一覧</div>
    <div class="users-containers">
      <% @users.each do |user|%>
        <div class="users-container">
          <p>
            <%= link_to user.name, "/users/#{user.id}", class: "text" %> 
          </p>
        </div>
      <% end %>
    </div>
</div>

<div class="show-wrapper">
  <div class="show-container">
    <div class="show-content">
      <p class="post-content">
        <%= @post.content %>
      </p>
      
      <div class="post-time">
        <%= @post.created_at %>
      </div>
      <% if @current_user.id == @post.user.id %>
        <div class="edit-btn">
          <%= link_to "編集", "/posts/#{@post.id}/edit/" %>
        </div>
        <div class="destroy-btn">
          <%= link_to "削除", "/posts/#{@post.id}/destroy/", method: "post" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="comment-box">
    <%# <div class="cmt-f"> %>
      <%= form_with(model: [@post, @comment], id: 'cmt-f') do |form| %>
        <label>
          <%= form.text_area :text, placeholder: "コメントする", class: "text-f", rows: "6" %>
        </label>
        <div class="s-btn">
          <%= form.submit "SEND", class: "send" %>
        </div>
      <% end %> 
    <%# </div> %>
  </div> 
  <%= render "shared/comment" %>
</div>