<%= render "shared/index" %>

<div class="show-wrapper">
  <div class="show-container">
    <div class="show-content">
      <p class="post-team">
         チーム名: <%= @post.team_name %>
      </p>
      <p class="post-area">
        開催地域: <%= @post.genre.name %>
      </p>
      <p class="post-date">
        開催日時: <%= @post.date %>
      </p>
      <p class="post-content">
        詳細: <%= @post.content %>
      </p>
      <div class="post-time">
        <%= @post.created_at %>
      </div>
      <% if @current_user.id == @post.user.id %>
        <div class="edit-btn">
          <%= link_to "編集", "/posts/#{@post.id}/edit/" %>
        </div>
        <div class="destroy-btn">
          <%= link_to "削除", "/posts/#{@post.id}/destroy/", method: "post" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="comment-box">
      <%= form_with(model: [@post, @comment], id: 'cmt-f') do |form| %>
        <label>
          <%= form.text_area :text, placeholder: "コメントする", class: "text-f", rows: "6" %>
        </label>
        <div class="s-btn">
          <%= form.submit "SEND", class: "send" %>
        </div>
      <% end %> 
  </div> 
  <%= render "shared/comment" %>
</div>