<!DOCTYPE html>
<html>
  <head>
    <title>WebV</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-bar">
        <div class="header-left">
          <h1 id="logo">
            <%= link_to "S-Match", "/posts/index", class: "logo" %>
          </h1>
        </div>
        <div class="header-right">
          <% if @current_user %>
            <%= link_to @current_user.nickname, "/users/#{@current_user.id}", class: "user-name", id: "name-btn" %>
            <%= link_to "ログアウト", "/logout", class: "logout", id: "logout-btn", method: :post %>
            <%= link_to "投稿一覧", "/posts/index", class: "post-stock" %>
            <%= link_to "新規投稿", "/posts/new/", class: "new-post" %>
          <% else %>
            <%= link_to "ログイン", "/login", class: "login", id: "login-btn" %>
            <%= link_to "新規登録", "/signup", class: "signup", id: "signup-btn" %>
            <%= link_to "投稿一覧", "/posts/index", class: "post-stock" %>
          <% end %>

        </div>
    </header>
    <%# 新規投稿、編集が成功した時の表示 %>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <div class="main-wrapper">
      <%= yield %>
      <%# <script src="script.js"></script> %>
    </div>
    <footer>
      <div class="footer-bar"> ~ S-Match ~</div>
    </footer>
  </body>
</html>
